* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #242424;
}

.wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    height: 400px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
}

.card {
    width: 80px;
    border-radius: 0.75rem;
    background-size: cover;
    cursor: pointer;
    overflow: hidden;
    border-radius: 2rem;
    margin: 0 10px;
    display: flex;
    align-items: flex-end;
    transition: 0.7s cubic-bezier(0.28, -0.03, 0, 0.99);
    box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.8);
}

.card > .row {
    color: white;
    display: flex;
    flex-wrap: nowrap;
}

.card > .row > .icon {
    background: #223;
    color: goldenrod;
    font-weight: bold;
    border: 1px solid gold;
    border-radius: 50%;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
}

.card > .row > .description {
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    height: 80px;
    width: 80%;
    opacity: 0;
    transform: translateY(30px);
    transition-delay: 0.3s;
    transition: all 0.3s ease;
}

.description p {
    color: #b0b0ba;
    overflow: hidden;
}

.description h4 {
    text-transform: uppercase;
    color: goldenrod;
    font-weight: bold;
}

input {
    display: none;
}

input:checked + label {
    width: 600px;
}

input:checked + label .description {
    opacity: 1 !important;
    transform: translateY(0) !important;
}

.card[for="c1"] {
    background-image: url("https://images.pexels.com/photos/45204/alm-friuli-snow-snowfall-45204.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
}
.card[for="c2"] {
    background-image: url("https://images.pexels.com/photos/1322185/pexels-photo-1322185.jpeg");
}
.card[for="c3"] {
    background-image: url("https://images.pexels.com/photos/837745/pexels-photo-837745.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
}
.card[for="c4"] {
    background-image: url(https://images.pexels.com/photos/1563356/pexels-photo-1563356.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
}
.card[for="c5"] {
    background-image: url(https://images.pexels.com/photos/1519088/pexels-photo-1519088.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
}

.alert {
    display: none;
}

/* block for small screens */
@media screen and (max-width: 1024px) {
    .alert {
        display: block;
        color: gold;
        margin: 1rem;
    }

    .container {
        display: none;
    }
}

/* show on mobile device landscape */
@media screen and (max-height: 425px) and (min-aspect-ratio: 7/4) {
    .alert {
        display: none;
    }

    .container {
        height: 250px;
        display: flex;
    }

    .card {
        width: 40px;
        border-radius: 0.375rem;
        border-radius: 1rem;
        margin: 0 5px;
    }

    .card > .row > .icon {
        width: 25px;
        margin: 8px;
    }

    .card > .row > .description {
        height: 40px;
    }

    input:checked + label {
        width: 400px;
    }
}
