a:link{
	color: #78ffd0;
}
a:visited{
	color: #d359ff;
}
button:hover{
	background-color:#ff4529;
	color:white;
}
button:active{
	background-color:#d13b24;
}
/*
li:first-child{
	background-color:#93ff7d;
}
li:last-child{
	background-color:#93ff7d;
}

li:nth-child(3){
	background-color:#93ff7d;
}
li:nth-child(odd){
	background-color:#93ff7d;
}
*/
li:nth-child(3n+0){
	
	/*
		nth-child(an+b)
		a = cycle size
		n = counter (starts at 0)
		b = offset value
	*/
	
	background-image:
	linear-gradient(to right,#fff421,#ffffff);
	opacity:0.5;
	border: 1px solid;
}











w