* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  place-items: center;
  min-height: 100vh;
  background: linear-gradient(to left, #00d9ff, #ee00ff);
}

.clock {
  background-color: lightgrey;
  border-radius: 50%;
  width: 500px;
  height: 500px;
  position: relative;
  display: grid;
  place-items: center;
  background: radial-gradient(circle, blue, black);
}

.clock::before {
  content: "";
  position: absolute;
  width: 525px;
  height: 525px;
  border-radius: 50%;
  background: linear-gradient(to left, #00d9ff, #ee00ff);
  box-shadow: 0 0 15px 15px rgba(0, 0, 0, 0.2);
  z-index: -1;
}

.number {
  transform: rotate(calc(30deg * var(--n)));
  position: absolute;
  text-align: center;
  inset: 20px; /* learn inset */
  font-size: 3rem;
  color: white;
  text-shadow: 0 0 12px #ee00ff;
}

.number b {
  transform: rotate(calc(-30deg * var(--n)));
  display: inline-block;
}

.center-dot {
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: gray;
  border-radius: 50%;
}

.hour-hand,
.minute-hand,
.second-hand {
  --rotate: 0;
  position: absolute;
  left: 50%;
  bottom: 50%;
  transform: translate(-50%) rotate(calc(var(--rotate) * 1deg));
  transform-origin: bottom;
}

.hour-hand {
  width: 12px;
  height: 130px;
  background: linear-gradient(#00d9ff, #ee00ff);
}

.minute-hand {
  width: 12px;
  height: 190px;
  background: linear-gradient(to top, #00d9ff, #ee00ff);
}

.second-hand {
  width: 6px;
  height: 210px;
  background: red;
}
